/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.pokemon-ui {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Apply a background color to the body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.playerInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.playerpokemonPic {
    width: 100px;
}


#wildPokemonList {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.attacks-list {
    list-style: none;
}

.attacks-list li {
    margin-bottom: 5px;
}

.computer-pokemon-list {
    list-style: none;
}

.computer-pokemon-list li {
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Add these styles for the health bar */
.health-bar {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    
}
.listPokemon {
    margin-top: 10px;
}

#wildPokemonList {
    padding: 10px; /* Tilføjer mellemrum rundt om din liste */
  }
  
  #wildPokemonUl {
    list-style-type: none; /* Fjerner bullets fra listen */
    padding: 0; /* Fjerner eventuel indrykning på listen */
  }
  
.health-progress {
    height: 100%;
    transition: width 0.3s ease;
    
}
.caps {
    text-transform: uppercase;
}
.names {
    text-transform: capitalize;
}



/* Color variations based on health percentage */
.health-progress.high {
    background-color: #4CAF50; /* Green for 41% and above */
}

.health-progress.medium {
    background-color: #e68a00; /* Yellow for 15% - 40% */
}

.health-progress.low {
    background-color: #e60000; /* Red for 15% or less */
}

.centerAlign{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center
}


